{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4>Nguyen Minh Tai</h4>
    <h5>Data Science - CoderSchool</h5>

    <p>This web application is used for study purpose and no commercial</p>
    <h6>References and Materials:</h6>
    <ul>
        <li>Data from Kaggle: LearnPlatform COVID-19 Impact on Digital Learning</li>
        <li>Machine learning algorithm from Scikit Learn</li>
    </ul>
    <br>
    <p>In case of any doubt, don't hesitate to contact me via minhtai96mike@gmail.com</p>
    <p>Thanks for your visit</p>
    
</div>

{% endblock %}